
$black: black;
$white: white;

$animal: green;
$animalClaro: lightGreen;
$animalEscuro: darkGreen;

$pessoa: blue;
$pessoaClaro: lightBlue;
$pessoaEscuro: darkBlue;

$paisagem: pink;
$paisagemClaro: lightPink;
$paisagemEscuro: red;
