
$black: black;
$white: white;

$esporte: green;
$esporteClaro: lightGreen;
$esporteEscuro: darkGreen;

$novela: blue;
$novelaClaro: lightBlue;
$novelaEscuro: darkBlue;

$saude: pink;
$saudeClaro: lightPink;
$saudeEscuro: red;
